body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: darkslategray;
}

canvas {
  margin-top: 2rem;

  overflow-y: hidden;

  touch-action: none;

  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);

  background-color: lavender;
}

#score {
  margin-top: 2rem;
  padding: 1rem;

  text-align: center;

  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);

  background-color: lavender;

  font-size: 2rem;
}
