body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: darkslategray;
}

canvas {
  margin-top: 2rem;

  touch-action: none;

  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.6);

  background-color: lavender;
}

#score {
  margin-top: 2rem;
  padding: 1rem;

  text-align: center;

  border: 2px solid black;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);

  background-color: lavender;

  font-size: 2rem;
}
